@{
    ViewData["Title"] = "Wastelander";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Wastelander.Models.Zombie

<h2>Edit</h2>
<hr />

@using (Html.BeginForm())
{
    <div id="zombieEdit">
<h4>Edit this Zombie: @Html.DisplayFor(model => model.Name)</h4>

    @Html.HiddenFor(model => model.ZombieId)

    <p>@Html.LabelFor(model => model.Name)</p>
    <p>@Html.EditorFor(model => model.Name)</p>

    <p>@Html.LabelFor(model => model.ZombieAttack)</p>
    <p>@Html.EditorFor(model => model.ZombieAttack)</p>

    <p>@Html.LabelFor(model => model.ZombieHealth)</p>
    <p>@Html.EditorFor(model => model.ZombieHealth)</p>

    <p>@Html.LabelFor(model => model.ChanceToDrop)</p>
    <p>@Html.EditorFor(model => model.ChanceToDrop)</p>

    <p>@Html.LabelFor(model => model.ExperienceValue)</p>
    <p>@Html.EditorFor(model => model.ExperienceValue)</p>

    <p>@Html.LabelFor(model => model.Location)</p>
    <p>@Html.EditorFor(model => model.LocationId)</p>

    <input type="submit" value="Save" />
    </div>
}