@model IEnumerable<Wastelander.Models.Item>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
@Html.ActionLink("Create new", "Create")

@if (Model.Any())
{
    <ul>
        <hr />
        @foreach (var item in Model)
        {
            <li>@Html.DisplayFor(model => item.Name) | @Html.DisplayFor(model => item.Type)</li>
            <li>@Html.ActionLink("Edit", "Edit", new { id = item.ItemId })</li>
            <li>@Html.ActionLink("Details", "Details", new { id = item.ItemId })</li>
            <li>@Html.ActionLink("Delete", "Delete", new { id = item.ItemId })</li>
            <hr />

        }
    </ul>
}
else
{
    <p>No items have been added yet!</p>
}
