@model IEnumerable<Wastelander.Models.Item>

<hr />

@if (Model.Any())
{
    <ul>
        <hr />
        @foreach (var item in Model)
        {
            <li>@Html.DisplayFor(model => item.Name)</li>
            <li>@Html.ActionLink("Edit", "Edit", new { id = item.ItemId })</li>
            <li>@Html.ActionLink("Details", "Details", new { id = item.ItemId })</li>
            <li>@Html.ActionLink("Delete", "Delete", new { id = item.ItemId })</li>
            <hr />

        }
    </ul>
}
else
{
    <p>No tasks have been added yet!</p>
}

@Html.ActionLink("Create new", "Create")