@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Wastelander.Models.Player

<h2>Add a new character</h2>
<hr />
@using (Html.BeginForm())
{
    <div id="playerForm">

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Attack)
    @Html.EditorFor(model => model.Attack)

    @Html.LabelFor(model => model.Endurance)
    @Html.EditorFor(model => model.Endurance)

    @Html.LabelFor(model => model.Luck)
    @Html.EditorFor(model => model.Luck)
    <input type="submit" value="Create" />
    </div>
}
@Html.ActionLink("Back to List", "Index")